{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('main') }}"><< Change project</a>
    <h1>{{ project_id }}</h1>

    <ul>
        <li><a href="{{ url_for('split_file', project_id=project_id) }}"> Split pages </a></li>
        <li><a href="{{ url_for('binarize', project_id=project_id) }}"> Binarize </a></li>
        <li><a href="{{ url_for('find_margins', project_id=project_id) }}"> Margins </a></li>
        <li><a href="{{ url_for('simple_separate_ui', project_id=project_id) }}"> Simple Separate </a></li>
        <li><a href="{{ url_for('export', project_id=project_id) }}"> Export Entries </a></li>
        <li><a href="{{ url_for('export_txt', project_id=project_id) }}"> Download ZIP of entries as plaintext </a></li>
        <li><a href="{{ url_for('cleanup', project_id=project_id) }}"> Remove unnecessary project files </a></li>

    </ul>

    {% block module %}        {% endblock %}
{% endblock %}