{% extends "base.html" %}

{% block content %}
    <h1>{{ projectID }}</h1>

    <ul>
        <li><a href="{{ url_for('split_file', projectID=projectID) }}"> Split pages </a></li>
        <li><a href="{{ url_for('binarize', projectID=projectID) }}"> Binarize </a></li>
        <li><a href="{{ url_for('find_margins', projectID=projectID) }}"> Margins </a></li>
        <li><a href="{{ url_for('simple_separate_ui', projectID=projectID) }}"> Simple Separate </a></li>
        <li><a href="{{ url_for('export', projectID=projectID) }}"> Export Entries </a></li>
        <li><a href="{{ url_for('export_txt', projectID=projectID) }}"> Download ZIP of entries as plaintext </a></li>
        <li><a href="{{ url_for('cleanup', projectID=projectID) }}"> Remove unnecessary project files </a></li>

    </ul>

    {% block module %}        {% endblock %}
{% endblock %}